@font-face {
    font-family: 'DINProBoldFont';
    src: url('../public/font/DINProBold_13934.ttf') format('woff2'),
    /* Add additional font weights or styles here */
  }

  @font-face {
    font-family: 'DINProLightFont';
    src: url('../public/font/DINPro\ Light.otf') format('woff2'),
    /* Add additional font weights or styles here */
  }

  @font-face {
    font-family: 'InknutAntiqua_Regular';
    src: url('../public/font/InknutAntiqua_Regular.ttf') format('woff2'),
    /* Add additional font weights or styles here */
  }
  